.max-width-fit img {
    max-width: 100%;
    height: auto;
}

.max-width-smallsideimage img {
    max-width: 20rem;
    height: auto;
}

.image-left {
    float: left;
    margin-right: 1rem;
}

a.unstyled-link:link, a.unstyled-link:visited {
    text-decoration: inherit;
    color: inherit;
}

.schedule-full {
    color: #601515;
}

.schedule-available {
    color: #195719;
}